// CHOICE ONE

#choice1 {
  background: #ffffffa4;
  position: relative;
  border: none;
  border: 1px solid #bd7bb979;
  border-radius: 20px;
  font-size: 18px;
  width: 85%;
  margin: 50px auto;
  a {
    opacity: 0.4;
    text-decoration: none;
  }
  &:after {
    content: "";
    position: absolute;
    right: 20px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #e6c1ffb7;
    top: 17px;
  }
}

// CHOICE TWO

#choice2 {
  background: #ffffffa4;
  position: relative;
  border: none;
  border: 1px solid #bd7bb979;
  border-radius: 20px;
  font-size: 18px;
  width: 85%;
  margin: 50px auto;
  a {
    opacity: 0.4;
    text-decoration: none;
  }
  &:after {
    content: "";
    position: absolute;
    right: 20px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #e6c1ffb7;
    top: 17px;
  }
}

// CHOICE THREE

#choice3 {
  background: #ffffffa4;
  position: relative;
  border: none;
  border: 1px solid #bc7bb879;
  border-radius: 20px;
  font-size: 18px;
  width: 85%;
  margin: 50px auto;
  a {
    opacity: 0.4;
    text-decoration: none;
  }
  &:after {
    content: "";
    position: absolute;
    right: 20px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #e6c1ffb7;
    top: 17px;
  }
}

.active {
  box-shadow: 0 0 42px #ffc4c4c9;
  background: white;
  position: relative;
  border: none;
  width: 85%;
  margin: 50px auto;
  border-radius: 20px;
  font-size: 18px;
  border: 1px solid #bd7bb979;
  a {
    text-decoration: none;
  }
  &:after {
    content: "";
    position: absolute;
    right: 20px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 3.5px solid #f67569 !important;
    box-shadow: 0 0 42px #ffc4c4;
    background-color: none !important;
    top: 17px;
  }
}
